MYTRACKING_USER=seu_usuario
MYTRACKING_PASS=sua_senha
MYTRACKING_URL=https://jb.mytracking.com.br/mytracking/pages/public/login.xhtml
REPORT_URL=https://jb.mytracking.com.br/mytracking/pages/private/relatoriosDinamicos/relatoriosDinamicos.xhtml
DOWNLOAD_PATH=./downloads
# Caminho base para os relatórios fiscais (Obrigatório para Linux/Airflow)
BASE_REPORT_PATH=/caminho/para/seu/diretorio/BASE FISCAL
